<div class="container p-3">
  <table class="table" id="tabletext">
    <tr class="table-primary">
      <th>Name</th>
      <th> ROLL NO. </th>
    </tr>

    <tr class="table-success">
      <td>Berger Prince</td>
      <td>1</td>
    </tr>

    <tr class="table-success">
      <td>Earline Daugherty</td>
      <td>2</td>
    </tr>

    <tr class="table-success">
      <td>Lopez Weber</td>
      <td>3</td>
    </tr>

    <tr class="table-success">
      <td>Newman Porter</td>
      <td>4</td>
    </tr>

    <tr class="table-success">
      <td>Celina Ware</td>
      <td>5</td>
    </tr>

    <tr class="table-success">
      <td>Mcmillan Mooney</td>
      <td>6</td>
    </tr>

    <tr class="table-success">
      <td>Norton Walton</td>
      <td>7</td>
    </tr>

    <tr class="table-success">
      <td>England Raymond</td>
      <td>8</td>
    </tr>

    <tr class="table-success">
      <td>Davenport Dyer</td>
      <td>9</td>
    </tr>

    <tr class="table-success">
      <td>Dolores Frost</td>
      <td>10</td>
    </tr>

    <tr class="table-success">
      <td>Winters Baker</td>
      <td>11</td>
    </tr>

    <tr class="table-success">
      <td>Alexis Miranda</td>
      <td>12</td>
    </tr>

    <tr class="table-success">
      <td>Coleen Jacobson</td>
      <td>13</td>
    </tr>

    
    <tr class="table-success">
      <td>Eugenia Melton</td>
      <td>14</td>
    </tr>

    <tr class="table-success">
      <td>Elizabeth Strickland</td>
      <td>15</td>
    </tr>

    <tr class="table-success">
      <td>Merle Lyons</td>
      <td>16</td>
    </tr>

    <tr class="table-success">
      <td>Morgan Franks</td>
      <td>17</td>
    </tr>

    <tr class="table-success">
      <td>Nash Rollins</td>
      <td>18</td>
    </tr>

    <tr class="table-success">
      <td>Diann Tucker</td>
      <td>19</td>
    </tr>

    <tr class="table-success">
      <td>Oneil Ortiz</td>
      <td>20</td>
    </tr>

  </table>
</div>